@media screen and (min-width: 1168px) {
    .container {
        max-width: 1168px;
        padding-left: 16px;
        padding-right: 16px;
    }

/*Header*/
.site-nav {
    display: flex;
    gap: 40px;
    margin-left: 76px;
}
.contacts-list {
    display: flex;
    gap: 40px;

}
.address {
    font-style: normal;
}
.contacts {
    color: var(--primary-text-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
    color: var(--hover-text-color);
}

.current:hover,
.current:focus {
    color: var(--hover-text-color);

}

.current:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--hover-text-color);
    border-radius: 2px;
    z-index: 1;
    color: var(--hover-text-color);
}


.item {
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
}

.site-nav .link {
    line-height: 1.5;

    color: var(--title-text-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-text-color);
}





.site-nav .current {
    color: var(--hover-text-color);
    position: relative;
}










/* Hero */
.hero {
    padding: 120px 0;
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/office_desctop.jpg);
    @media only screen and (min-resolution:192dpi) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/officedesctop@2x.jpg);
            }
        }
}
.hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 48px;
}
 /*Benefits*/
 .benefits {
     padding-top: 120px;
     padding-bottom: 120px;
 }
 .benefits-list {
     display: flex;
     justify-content: center;
     gap: 24px;
 }

/*Benefits*/


.benefits-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.benefits-list-item {
    width: calc((100% - 72px) / 4);
}
.benefits-wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud-bg-color);
    margin-bottom: 8px;
}

.section-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: left;
}
.text {
font-weight: 400;
}


/* Product */
.product-d-none {
    display: block;
}
.product {

    padding-bottom: 120px;

}

.product-title {

    margin: 0 auto;
    margin-bottom: 72px;

}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.title-product {
    line-height: 40px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.list-product {
    list-style: none;
}
.product-item {
    width: calc((100% - 48px) / 3);
}

/*-Accent*/

.list-team {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
   /*max-width: 1130px;*/

}
.soc-list-team-link {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0px 0px;
}

/*Customers*/

.section-customers {
    display: flex;
    padding: 120px 0;
}
.customers-list {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;

}
.customer-item {
    width: calc((100% - 120px) / 6);
    
}

.customer-link {
    
    padding: 16px 32px;
}
.customer-icon {
    fill: currentColor;
    min-width: 104px;
    min-height: 56px;
}

/*----Footer----*/
  .footer-container {
     display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   justify-content: start;
   row-gap: 72px;
   column-gap: 24px;
   align-items: center; 
     /* display: flex;
    gap:24; */
    padding-top: 100px;
    padding-bottom: 100px; 
    outline: solid red;
}
.footer-list-item {
    margin-right: 0px;
  }
  .footer-link-soc {
    display: flex;
    margin-left: 94px;
    margin-right: 60px;

  }
  
   .footer-link-icon {
    margin-right: 0px;
  }
  .social-link-items {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-text-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--cloud-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--cloud-text-color);
    width: 100%;
    height: 100%;
    background-color: var(--accent-text-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-title {
  
    margin-right: 100px;
    margin-bottom: 0px;
   }

  .subscribe {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 36px;
  }
  
  .sucscribe-form {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    
  }
  .footer-link-icon {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  
  }

  .footer-text {
    color: var(--cloud-text-color);
    width: 264px;
    
  }
  .subscribe-caption {
    color: var(--white-text-color);
      /* Body Medium */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      /* 150% */
      letter-spacing: 0.32px;
      margin-bottom: 24px;
  }

/*mobile-menu*/

.menu-toggle {
    display: none;

}
}