.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

/*Header*/

.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-box {
    display: flex;
}
.logo-part-header{
    color: var(--title-text-color);
}
.heder-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.site-nav {
    display: none;
   
}
.list {
    list-style: none;
}
.contacts-list {
    display: none;
   

}



/* Hero */
.hero {
    padding: 96px 0;
    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    overflow: hidden;
    margin: auto;
    outline: 1px solid red;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg_mobil.jpg);
  

}
    
       @media screen  and (min-width:428px) {
           @media (min-resolution: 192dpi) {
               .hero {
                   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                       url(../images/Dark-bg_mobil@2x.jpg);
               } 
             }
        
       }







.hero-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-text-color);
    letter-spacing: 0.02em;
    display: block;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 72px;
}
.button {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    cursor: pointer;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.04em;

}
.button.primary {
    color: var(--white-text-color);
    background-color: var(--accent-bg-color);
    align-items: center;
    padding: 16px 32px;
    border-radius: 4px;
    font-style: normal;
    display: block;
    margin: 0 auto;
    border: none;
    height: 56px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
    background-color: var(--hover-bg-color);
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
}

/*Benefits*/
.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;

   
}
.benefits-list-item {
    width: calc((100%-0) / 1);
}
.benefits-wrapper-icon {
    display: none;
}

.section-title {
    font-size: 36px;
    line-height: 1.2;
    color: var(--title-text-color);
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    font-family: var(--primary-font);

}

/* Product */

.product-d-none {
    display: none;
}

/*-Accent*/

.section-accent {
    background-color: var(--cloud-bg-color);
    padding-left: 0px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-team {
    margin: 0 auto;
    margin-bottom: 72px;
}
.title {
    line-height: 40px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.list-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}
.list-item {
    background-color: var(--section-bg-color);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-item img {
    width: 100%;
}
.item-inner {
    display: flex;
    padding: 32px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    flex-direction: column;
    padding-bottom: 32px;
}
.section-title-team {
    color: var(--title-text-color);
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}
.soc-list-team-link {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.link-soc {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-items {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-text-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--cloud-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-items:hover,
.social-link-items:focus {
    background-color: var(--hover-text-color);
}
 .soc-link {
     fill: var(--cloud-text-color);
 }

/*Customers*/

.section-customers {
    display: flex;
    padding: 96px 0;
}
.customer-title {
    margin-bottom: 72px;
}
.title {
    line-height: 40px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.customers-list {
    list-style: none;
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 16px;
        align-items: center
}
.customer-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
    color: var(--LIGHT-SLATE);
}
.customer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--LIGHT-SLATE);
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    padding: 16px 40px;
    cursor: pointer;
    height: 88px;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}
.customer-link:hover,
.customer-link:focus {
    border-color: var(--hover-text-color);
    color: var(--hover-text-color);
    border-radius: 4px;
}

.customer-icon {
    fill: currentColor;
    min-width: 110px;
    min-height: 56px;
}


/*----Footer----*/
.footer-bg .logo {
    margin-bottom: 16px;
    padding: 0;
  }
.footer-bg {
   background-color: var(--secondary-bg-color);
 }
 /*  flex-wrap: wrap;
 justify-content: center;
 row-gap: 72px;
 column-gap: 24px;
 align-items: center;
 
 flex-basis: calc((100% - 72px) / 4); */



  .footer-container {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   row-gap: 72px;
   column-gap: 24px;
   align-items: center;
   
   
   padding-top: 96px;
    padding-bottom: 96px;
    outline: solid red;
}
.footer-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 0px) / 1);
  }
  .footer-link-soc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  
  .footer-title {
    color: var(--white-text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
   /* margin-bottom: 16px;*/
  }
  .footer-link-icon {
    display: flex;
    flex-direction: row;
    margin: 0;
    /*margin-right: 80px;*/
  }
  .social-link-items {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-text-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--cloud-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--cloud-text-color);
    width: 100%;
    height: 100%;
    background-color: var(--accent-text-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .soc-link {
    fill: var(--cloud-text-color);
  }


  .link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .logo {
        padding-top: 25px;
          padding-bottom: 25px;
          /* margin-right: 76px;
          margin-left: 76px; */
          margin:auto;
          font-family: 'Raleway', sans-serif;
          font-weight: 800;
          font-size: 18px;
          line-height: 1.17;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: var(--accent-text-color);
  }
  
  .logo-part-light {
    color: var(--cloud-text-color);
    text-align: center;
  }


  .subscribe {
    display: block;
       
  }
  
  .sucscribe-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    
  }
  .footer-link-icon {
    list-style: none;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    gap: 16px;
  
  }

  .footer-text {
    color: var(--cloud-text-color);
    width: 264px;
    /* margin-right: 80px;
    margin-left: 80px; */
  }
  .subscribe-caption {
    color: var(--white-text-color);
      /* Body Medium */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      /* 150% */
      letter-spacing: 0.32px;
      margin-bottom: 16px;
      margin-left: 161px;
  }

 

/*mobile-menu*/

.header-menu-btn {}

.menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--section-bg-color);
    border: none;
    padding: 0;

}

.js-open-menu {}

.toggle-menu-icon {
    stroke: #2e2f42;

}






@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
    .subscribe-email-footer {
        width: 398px;
    }
}


@media screen and (max-width: 427.98px) {
    .subscribe-email-footer, .subscribe-label, .subscribe, .sucscribe-form {
     width: 100%;
    }
    
}