@media screen and (min-width: 768px) {
    .container {
            max-width: 736px;
        }


/*Header*/

.site-nav {
    display: flex;
    gap: 40px;
    margin-left: 120px;
}
.contacts-list {
    display: inline-block;
   /* gap: 40px;*/
}
.header-box {
   align-items: center;
}

.address {
    font-style: normal;
}
.contacts {
    color: var(--primary-text-color);
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
    color: var(--hover-text-color);
}
.contact .link {
    padding-top: 6px;
    padding-bottom: 6px;
}
.current:hover,
.current:focus {
    color: var(--hover-text-color);

}

.current:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--hover-text-color);
    border-radius: 2px;
    z-index: 1;
    color: var(--hover-text-color);
}


.item {
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
}

.site-nav .link {
    line-height: 1.5;

    color: var(--title-text-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-text-color);
}





.site-nav .current {
    color: var(--hover-text-color);
    position: relative;
}





/* Hero */
.hero {
    padding: 96px 0;
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg_tablet.jpg);
   
            @media only screen and (min-resolution:192dpi) {
                .hero{
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                        url(../images/Dark-bg_tablet@2x.jpg);
                }
        }
}
.hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
}


/*Benefits*/


.benefits-list-item {
    width: calc((100% - 24px) / 2);
}

.section-title {
  text-align: left;
}

/*-Accent*/



/*Customers*/

.customers-list {
   list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
   
}

.customer-item {
    width: calc((100% - 48px) / 3);
   /* margin-left: 24;*/
  
}

.customer-link {
   
    padding: 16px 0px;
    /* max-width: 168px; */
}
.customer-icon {
    fill: currentColor;
    min-width: 104px;
    min-height: 56px;
}

/*----Footer----*/
.footer-container {
    justify-content: start;
} 


  .footer-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 264px;
    flex-basis: calc((100% - 48px) / 2);
  }
  .footer-link-soc {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
  }

.logo {
   margin-left: 0px; 
}
.footer-bg .logo {
    margin-bottom: 16px;
    margin-left: 0;
    padding: 0;
  }
  .footer-title {
  
   margin-left: 0px;
   margin-bottom: 16px;
  }
  .subscribe {
    display: block;
    margin-right: 36px;
       
  }
  .sucscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    
  }
  .subscribe-caption {
    margin-left: 0px;
  }
 .subscribe-email-footer {
    width: 264px;
 }



/*mobile-menu*/

.menu-toggle {
    display: none;

}


}